#git ignores the follwing files and directories:
.vs 

#bin folder
ThermoFit/bin/*
!ThermoFit/bin/README_bin.md
!ThermoFit/bin/x64/Release/src/*
!ThermoFit/bin/x64/Release/temp/*


#lib folder
ThermoFit/lib/ga/*
!ThermoFit/lib/ga/*.cpp
!ThermoFit/lib/ga/*.hpp
!ThermoFit/lib/ga/*.m

ThermoFit/lib/pso/*
!ThermoFit/lib/pso/*.cpp
!ThermoFit/lib/pso/*.hpp
!ThermoFit/lib/pso/*.m

ThermoFit/lib/pytorch/*
!ThermoFit/lib/pytorch/README_Include_PyTorch.md

ThermoFit/lib/rl/*
!ThermoFit/lib/rl/*.cpp
!ThermoFit/lib/rl/*.hpp
!ThermoFit/lib/rl/*.m
!ThermoFit/lib/rl/files/README_rl_files.md

ThermoFit/src/*
!ThermoFit/src/*.cpp
!ThermoFit/src/*.hpp
!ThermoFit/src/test/

#temp folder
ThermoFit/temp/*
!ThermoFit/temp/0000/*

